.filter {
  display: flex;
  flex-direction: column;
}

.filter__label {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 20px;
}

.filter__input {
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  width: 100%;
}

.filter__input:focus {
  outline-color: var(--accent-color);
}
